@page "/"
@using MyApplication/C# code/firstOnIG.cs
@using MudBlazor





@if (fileError || inactiveUsersWithSystems == null || inactivePerDepartment == null)
{
    <MudText Color="Color.Error">
        Error reading the CSV file. Please check the file path.
    </MudText>
}
else
{
}


<MudText Typo="Typo.h6">
    Total number of inactive users with system access:
</MudText>

<MudText Typo="Typo.h5" Color="Color.Primary">
    @totalInactive
</MudText>

<br />
<br />

<MudText Typo="Typo.h6">
    Inactive Users and Their Systems
</MudText>

@if (inactiveUsersWithSystems != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>User Name</th>
                <th>Systems</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in inactiveUsersWithSystems)
            {
                <tr>
                    <td>@user.Key</td>
                    <td>@user.Value</td>
                </tr>
            }
        </tbody>
    </table>
}

<br />
<br />

<MudText Typo="Typo.h6">
    Inactive Users Per Department
</MudText>

@if (fileError || inactiveUsersWithSystems == null || inactivePerDepartment == null)
{
    <MudText Color="Color.Error">
        Error reading the CSV file. Please check the file path.
    </MudText>
}
else
{

    <MudText Typo="Typo.h6">
        Total number of inactive users with system access:
    </MudText>

    <MudText Typo="Typo.h5" Color="Color.Primary">
        @totalInactive
    </MudText>

    <br />
    <br />

    <MudText Typo="Typo.h6">
        Inactive Users and Their Systems
    </MudText>

    <table class="table">
        <thead>
            <tr>
                <th>User Name</th>
                <th>Systems</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in inactiveUsersWithSystems)
            {
                <tr>
                    <td>@user.Key</td>
                    <td>@user.Value</td>
                </tr>
            }
        </tbody>
    </table>

    <br />
    <br />

    <MudText Typo="Typo.h6">
        Inactive Users Per Department
    </MudText>

    <table class="table">
        <thead>
            <tr>
                <th>Department</th>
                <th># Inactive Users</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var dept in inactivePerDepartment)
            {
                <tr>
                    <td>@dept.Key</td>
                    <td>@dept.Value</td>
                </tr>
            }
        </tbody>
    </table>
}
@code {

    private int totalInactive;
    private Dictionary<string, string>? inactiveUsersWithSystems;
    private Dictionary<string, int>? inactivePerDepartment;
    private bool fileError = false;

    

    protected override async Task OnInitializedAsync()
    {
        try
        {
            string filePath = Path.Combine(
            Directory.GetCurrentDirectory(),
            "OGE.csv.csv"
            
        );
        Console.WriteLine(filePath);
            totalInactive = AwesomeClass.GetTotalInactiveUsersWithAccess(filePath);
            inactiveUsersWithSystems = AwesomeClass.GetInactiveUsersWithSystems(filePath);
            inactivePerDepartment = AwesomeClass.GetInactiveUsersPerDepartment(filePath);
        }
        catch
        {
            fileError = true;
        }

        await Task.CompletedTask;
    }
    
}
